<!DOCTYPE html>
<!-- Garrick Smendziuk -->
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Song Swap</title>
    <meta name="keywords" content="Spotify, Song Swap, recommendations">
    <meta name="description" content="Song recommendation website">
    <script>
    </script>
</head>

<body>
    <header>
        Song Swap
    </header>
<div class="navbar">
    </div>
    <main>
        <section>
           <h1>To start, select a playlist to send songs from</h1>
    <form action="/first_playlist_selector_post" method="POST"><!-- Specify the action attribute -->
        <label for="playlist">Choose a playlist:</label>
        <select name="playlist" id="playlist">
            {% for playlist in playlists %}
                <option value="{{ playlist }}">{{ playlist }} </option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Choose">
    </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Garrick inc</p>
    </footer>
</body>